.Navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.logout {
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
    color: #716F81;
    transition: .3s;
}

.logout:hover {
    background-color: #B97A95;
    color: white;
}